<header>
    <div class="header-left">
    <img class="iStream-logo" src="/assets/logo.png" alt="logo" aria-hidden="true" routerLink="/">
    <div class="hcenter">
      <p class="logo-letters">iStream</p>
    </div>
    </div>

    <div class="header-middle hcenter">
      <input placeholder="Search Streamer"/>
    </div>

    <div class="header-right hcenter">
      <div class="ButtonGroup">
        <button routerLink='login' *ngIf="localStorage.getItem('username')===null">LogIn</button>
        <button routerLink='register' *ngIf="localStorage.getItem('username')===null">Registration</button>
        <button class *ngIf="localStorage.getItem('username')!==null">Stream now</button>
        <button (click)="logout()" *ngIf="localStorage.getItem('username')!==null">Logout</button>
    </div>
    </div>
</header>

