<main>
  <header>

    <div class="header-left">
    <img class="iStream-logo" src="/assets/logo.png" alt="logo" aria-hidden="true" routerLink="/">
    <div class="hcenter">
      <p class="logo-letters">iStream</p>
    </div>
    </div>

    <div class="header-middle hcenter">
      <input placeholder="Search Streamer"/>
    </div>

    <div class="header-right hcenter">
      <div class="ButtonGroup">
        <button routerLink='login'>LogIn</button>
        <button routerLink='register'>Registration</button>
        <button class>Stream now</button>
    </div>
    </div>
  </header>
</main>
