header, .header-left {
  display: flex;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid #fc7303;
  padding-bottom: 5px;
}

.hcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-middle input{
  border: white 1px solid;
  border-radius: 8px;
  color: white;
  background-color: transparent;
  padding: 5px;
}

.logo-letters {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-left: 10px;
  font-size: 35px;
}

.iStream-logo {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header-right button {
  border: white 1px solid;
  border-radius: 8px;
  color: #ffffff;
  background-color: transparent;
  padding: 6px 9px;
  margin-right: 10px;
}

.ButtonGroup {
  display: flex;
}
