:host(app-landingpage) {
    min-width: calc(100% - 200px);
}

.StreamGroß {
   height: 350px;
   min-width: 100%;
   object-fit: cover;
   border-bottom: #fc7303 1px solid;
}

.Titlepage {
    text-align: center;
    margin-top: 50px;
}

.picture {
    height: 169px;
    width: 300px;
    background-color: rgb(61, 30, 1);
    margin-top: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.streamers {
    margin-left: 50px;
}

.streamer {
    float: left; 
    margin-right: 20px;
    font-size: large;
    width: 300px;
    cursor: pointer;
}

.streamer:hover .streamer-name {
     color: #fc7303;
    }

.streamer-name {
    max-width: min-content;
}

.viewer {
    font-size: medium;
    max-width: min-content;
    margin-bottom: 5px;
}