.page {
    width: 100%;
    display: flex;
}

.stream-bottom {
    width: calc(100vw - 565px);
    height: 100vh;
    background-color: #010012;
    overflow-y: scroll;
    scrollbar-width: none;
}

.stream {
    width: 100%;
    height: 731px;
    background-color: #c8ff00;
}

.bottom {
    height: 269px;
    background-color: #010012;
    padding-top: 10px;
}

.Chat {
    background-color: rgb(56, 56, 56);
    width: 365px;
    height: calc(100vh - 80px);
    scrollbar-width: none;
    overflow: scroll;
}

.pic {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin-left: 10px;
}

.info {
    height: 83px;
    width: 100%;
    display: flex;
    border-bottom: dotted 1px #fc7303;
}
.pic-info {
    height: 100%;
    width: max-content;
    display: flex;
}

.streamer-name{
    font-size:30px;
}

.titel-cat {
    display: flex;
}

.cat {
    padding-top: 7px;
    padding-left: 5px;
}

.name-titel {
    margin-left: 15px;
    width: max-content;
}

.titel {
    font-size: 20px;
    margin-top: 3px;
}

.buttons-viewer {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 10px;
}

.eye-viewer {
    display: flex;
    margin-top: 26px;
}

.eye {
    height:46%;
    margin-right: 5px;
}

.amountviewers {
    margin-top: 3px;
    font-size: large;
}

.follower {
    background-color: #131313;
    border-color: #fc7303;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 70px;
}

.follower:hover {
    box-shadow: 0 0 15px 3px rgba(252, 115, 3, 0.73);
    cursor: pointer;
}

.beschreibung {
    margin-top: 20px;
    padding-left: 97px;
    padding-right: 80px;
    
}

.clock {
    height: 30%;
    margin-top: 26px;
    margin-right: 5px;
}

.live-since {
    margin-top: 30px;
    margin-right: 25px;
}