<div class="page">
    <div class="stream-bottom">
        <video id="stream" class="stream" autoplay></video> 
        <div class="bottom">
            <div class="info">
                <div class="pic-info">
                    <img class="pic" src="https://www.uni-giessen.de/de/fbz/fb02/fb/professuren/bwl/BWL-IV/bilder/Dummy/@@images/image.jpeg">
                    <div class="name-titel">
                        <div class="streamer-name">{{user?.username}}</div>
                        <div class="titel-cat">
                            <div class="titel">{{streamConfig?.title}}</div>
                            <div class="cat">in {{streamConfig?.category}}</div>
                        </div>
                    </div>
                </div>
                <div class="buttons-viewer">
                    <img class="clock" src="/assets/clock.png"> 
                    <div class="live-since">{{streamTime}}</div>
                    <div class="eye-viewer">
                        <img class="eye" src="/assets/Eye.png">  
                        <div class="amountviewers">{{stream?.amountViewers}}</div>
                    </div>
                    <button class="follower">Follow</button>
                </div>
            </div>
            <div class="beschreibung">{{streamConfig?.description}}</div>
        </div>
    </div>
    <div class="Chat">Chat here
    </div>
</div>
