<div class="page">
    <div class="stream-bottom">
        <video id="stream" class="stream">
        </video>
        <div class="bottom">
            <div class="info">
                <div class="pic-info">
                    <img class="pic" src="https://www.uni-giessen.de/de/fbz/fb02/fb/professuren/bwl/BWL-IV/bilder/Dummy/@@images/image.jpeg">
                    <div class="name-titel">
                        <div class="streamer-name">Name</div>
                        <div class="titel">Titel</div>
                    </div>
                </div>
                <div class="buttons-viewer">
                <button class="follower">Click</button>
                <div class="amountViewers">100</div>
            </div>
            </div>
            <div class="Beschreibung">Herzlich Wilkommen</div>
        </div>
    </div>
    <div class="Chat">
    </div>
</div>
