<div class="page">
    <div class="stream-bottom">
<!--    <video id="stream" class="stream">
        </video> -->
<!--Testbild--><img class="stream" src="https://images.unsplash.com/photo-1554110397-9bac083977c6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <div class="bottom">
            <div class="info">
                <div class="pic-info">
                    <img class="pic" src="https://www.uni-giessen.de/de/fbz/fb02/fb/professuren/bwl/BWL-IV/bilder/Dummy/@@images/image.jpeg">
                    <div class="name-titel">
                        <div class="streamer-name">Name</div>
                        <div class="titel">Titel</div>
                    </div>
                </div>
                <div class="buttons-viewer">
                    <button class="follower">Follow</button>
                    <div class="eye-viewer">
                        <img class="eye" src="/assets/Eye.png">  
                        <div class="amountviewers">100</div>
                    </div>
                </div>
            </div>
            <div class="beschreibung">der dümmste streamer auf ganz twitch imagine subbing to papaplatte OMEGALUL so trash unlustig unkreativ nicht gut in video spielen, wer hier sein geld lässt ist einfach nur dämlich.</div>
        </div>
    </div>
    <div class="Chat">Chat here
    </div>
</div>
