body {
    background-color: #010012; 
    color: #ffffff;
    width: 200px;
}

.streamer-name {
    font-size: 20px;
    padding: 8px 10px;
    margin: 0;
}

.Dot {
    margin-top: 15px;
    margin-right: 8px;
}

.streamer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.streamer:hover {
    background-color: rgba(24, 24, 165, 0.688);
    border-radius: 10px;
}

.sidebar {
    max-width: 200px;
    height: calc(100vh - 50px);
    border-right: 1px #fc7303 solid;
    padding: 10px;
}
    
